In [48]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import time


headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.93 Safari/537.36'}

url = "https://www.transfermarkt.com/premier-league/startseite/wettbewerb/GB1"

r = requests.get(url, headers=headers)
r.status_code

200

In [81]:
soup = bs(r.content, 'html.parser')
data1 = soup.find('div', id='yw1')
data2 = data1.find_all('tr', class_=['odd', 'even'])

clubs = []
squad = []
mv = []
totalMv = []

In [82]:
for data in data2:
    info = data.find_all("td")
    
    clubs.append(info[1].get_text())
    squad.append(info[3].get_text())
    mv.append(info[6].get_text())
    totalMv.append(info[7].get_text())

# print(clubs)
# print(squad)

In [84]:
df = pd.DataFrame(
    {
        "Clubs":clubs,
        "Squad":squad,
        "MV":mv,
        "Total Mv":totalMv
    }
)

df

                       Clubs Squad       MV  Total Mv
0           Manchester City     24  €44.91m   €1.08bn
1         Manchester United     29  €31.42m  €911.25m
2                Chelsea FC     27  €33.02m  €891.50m
3              Liverpool FC     27  €32.09m  €866.50m
4         Tottenham Hotspur     25  €27.89m  €697.25m
5                Arsenal FC     26  €21.67m  €563.50m
6            Leicester City     28  €19.58m  €548.10m
7                Everton FC     26  €16.49m  €428.75m
8               Aston Villa     25  €16.52m  €413.10m
9   Wolverhampton Wanderers     24  €16.00m  €384.10m
10          West Ham United     24  €14.76m  €354.25m
11             Leeds United     25  €10.35m  €258.70m
12   Brighton & Hove Albion     26   €9.88m  €257.00m
13           Southampton FC     27   €9.46m  €255.45m
14           Crystal Palace     26   €9.59m  €249.45m
15         Newcastle United     25   €9.82m  €245.40m
16            Brentford FC      31   €6.45m  €199.95m
17            Norwich City      28   €6.66m  €186.45m
18              Watford FC      27   €5.39m  €145.50m
19               Burnley FC     24   €6.05m  €145.30m